:root { 
--purple_100:#debace; 
--white_A700_7f:#ffffff7f; 
--red_500_7f:#fd3e3e7f; 
--blue_gray_100_21:#d9d9d921; 
--green_300_c1:#69ff66c1; 
--red_300:#ff7171; 
--light_green_A200:#8dff71; 
--red_500:#fd3e3e; 
--amber_A200:#fdd33e; 
--deep_purple_200:#ba94d1; 
--yellow_600:#ebe328; 
--blue_300_60:#71b2ff60; 
--black_900:#101010; 
--deep_purple_A100:#a771ff; 
--purple_100_2b:#debace2b; 
--yellow_100:#fbfacd; 
--gray_900_bf:#131313bf; 
--gray_400:#bebebe; 
--white_A700_a5:#ffffffa5; 
--gray_800:#414141; 
--green_300_7f:#69ff667f; 
--gray_900_3d:#1313133d; 
--blue_300:#71b2ff; 
--amber_A200_7f:#fdd33e7f; 
--white_A700:#ffffff; 
--purple_100_3f:#debace3f; 
}